**/.circleci
**/.editorconfig
**/.dockerignore
**/.git
**/.DS_Store
**/.vscode
**/node_modules

# Specific patterns to ignore
data-node
meili_data*
docs

# Keep the config example file so users can generate their own librechat.yaml
!librechat.example.yaml

# Ignore all hidden files
.*
